<div class="gameElement">
    <div class="elementName">{{el.name}}</div>
    <div class="arrows">
        <img ng-click="gameCtrl.swapUp($index)" ng-hide="$first" src="images/up-arrow.png">
        <img ng-click="gameCtrl.swapDown($index)" ng-hide="$last" src="images/down-arrow.png">
    </div>
</div>
