<!doctype html>
<html ng-app="myApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>My Angular App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="game.js"></script>
    <script src="ranking.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<div id="categories" ng-controller="CategoryController as categoryCtrl">
    <div ng-repeat="category in categoryCtrl.list">
        <div class="category" ng-click="categoryCtrl.setSelected(category)">
            {{category.name}}
        </div>
    </div>
</div>
<div id="container">
    <ranking></ranking>
    <div id="wrapper" ng-controller="GameController as gameCtrl" ng-show="gameCtrl.game">

        <div id="counter">{{gameCtrl.counter|number: 1}}s</div>
        <div id="game">
            <div ng-repeat="el in gameCtrl.game.elements">
                <game-element></game-element>
            </div>
            <div id="winMsg" ng-show="gameCtrl.endGame && gameCtrl.win">Brawo wygrałeś!</div>
            <div id="loseMsg" ng-show="gameCtrl.endGame && !gameCtrl.win">Niestety przegrałeś!</div>
            <input type="submit" class="button" ng-hide="gameCtrl.endGame" ng-click="gameCtrl.check()" value="Sprawdź!">
            <input type="submit" class="button" ng-show="gameCtrl.endGame" ng-click="gameCtrl.startGame()"
                   value="Zacznij jeszcze raz">
        </div>
    </div>
</div>

</body>
</html>