<div id="ranking">
    <h2 ng-show="rankingCtrl.ranking.length">Ranking</h2>

    <div ng-repeat="score in rankingCtrl.ranking">
        <div ng-class="score.win ? 'winElement' :'loseElement'"><strong>{{$index+1}}.</strong> {{score.time | number:
            1}}s
        </div>
    </div>
</div>