body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: normal;
}

.button {
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-transition-property: background;
    transition-property: background;
    color: #ffffff;
    text-shadow: none;
    border: none;
    height: 32px;
    line-height: 32px;
    padding: 0px 25.6px;
    text-decoration: none;
    background: #611427;
}

.button:hover {
    background: #702537;
}

#container {
    display: flex;
    justify-content: center;
}

#wrapper {
    display: inline-block;
}
#counter {
    color: #611427;
    font-weight: 300;
    font-size: 4rem;
    text-align: center;
    margin: 15px;
}
#categories {
    display: flex;
    justify-content: center;
    color: purple;
    background-color: #1D2326;

}
.category {
    display: inline-block;
    color: whitesmoke;
    margin: 5px 25px 5px 25px;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.category:hover {
    background-color: #2d3335;
    border-radius: 5px;
}

#game {
    border-radius: 5px;
    margin: 0 auto;
    width: 450px;
    padding: 20px;
    background-color: #DDDCC5;
    text-align: center;
}

.gameElement {
    border-radius: 10px;
    background-color: #958976;
    margin: 10px 10px 20px 10px;
    padding: 10px;
    font-size: 1.3rem;
}

.elementName {
    text-align: center;
    width: 90%;
    display: inline-block;
    vertical-align: middle;
}

.arrows {
    display: inline-block;
    vertical-align: middle;
}

.arrows > img {
    display: block;
}

#winMsg {
    margin: 0 0 10px 0;
    color: #14611F;
    font-weight: bold;
}

#loseMsg {
    margin: 0 0 10px 0;
    color: #AD3553;
    font-weight: bold;
}

.winElement {
    background-color: #14611F;
    color: antiquewhite;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
}

.loseElement {
    background-color: #AD3553;
    color: antiquewhite;
    text-decoration: solid;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
}

#ranking {
    display: inline-block;
    font-size: 1.1rem;
    text-align: center;
    margin: 10px 30px 20px 30px;
    width: 200px;
    color: #611427;

}